version: '3.1'

services:

  auth-service:
    container_name: microservicesdemo-auth_service
    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: root
      MYSQL_PASSWORD: $MYSQL_ROOT_PASSWORD
      EUREKA_SERVER_HOSTNAME: $EUREKA_SERVER_HOSTNAME
      EUREKA_SERVER_PORT: $EUREKA_SERVER_PORT
      CONFIG_SERVICE_URL: $CONFIG_SERVICE_URL
      CONFIG_SERVICE_PASSWORD: $CONFIG_SERVICE_PASSWORD
    restart: on-failure
    build:
      context: auth-service
      dockerfile: Dockerfile
    ports:
      - "8590:8590"
    depends_on:
      - mysql
      - registry-server
      - config-server
      - keycloak
      - gateway-service


  config-server:
    container_name: microservicesdemo_config-server
    environment:
      EUREKA_SERVER_HOSTNAME: $EUREKA_SERVER_HOSTNAME
      EUREKA_SERVER_PORT: $EUREKA_SERVER_PORT
      CONFIG_SERVICE_URL: $CONFIG_SERVICE_URL
      CONFIG_SERVICE_PASSWORD: $CONFIG_SERVICE_PASSWORD
      APPLICATION_AUTHORIZATION_REALM: $APPLICATION_AUTHORIZATION_REALM
      APPLICATION_AUTHORIZATION_URL: $APPLICATION_AUTHORIZATION_URL
      TICKET_SERVICE_URL: $TICKET_SERVICE_URL
      USER_SERVICE_URL: $USER_SERVICE_URL
      APPLICATION_AUTHORIZATION_GATEWAY_CLIENT_ID: $APPLICATION_AUTHORIZATION_GATEWAY_CLIENT_ID
      APPLICATION_AUTHORIZATION_GATEWAY_CLIENT_SECRET: $APPLICATION_AUTHORIZATION_GATEWAY_CLIENT_SECRET
    restart: always
    build:
      context: config-server
      dockerfile: Dockerfile
    ports:
      - "8888:8888"

  gateway-service:
    container_name: microservicesdemo_gateway-service
    environment:
      EUREKA_SERVER_HOSTNAME: $EUREKA_SERVER_HOSTNAME
      EUREKA_SERVER_PORT: $EUREKA_SERVER_PORT
      CONFIG_SERVICE_URL: $CONFIG_SERVICE_URL
      CONFIG_SERVICE_PASSWORD: $CONFIG_SERVICE_PASSWORD
    restart: on-failure
    build:
      context: gateway-service
      dockerfile: Dockerfile
    ports:
      - "9090:9090"
    depends_on:
      - registry-server
      - config-server
      - keycloak

  registry-server:
    container_name: microservicesdemo_registry-server
    restart: always
    build:
      context: registry-server
      dockerfile: Dockerfile
    ports:
      - "8761:8761"

  ticket-service:
    container_name: microservicesdemo_ticket-service
    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: root
      MYSQL_PASSWORD: $MYSQL_ROOT_PASSWORD
      EUREKA_SERVER_HOSTNAME: $EUREKA_SERVER_HOSTNAME
      EUREKA_SERVER_PORT: $EUREKA_SERVER_PORT
      CONFIG_SERVICE_URL: $CONFIG_SERVICE_URL
      CONFIG_SERVICE_PASSWORD: $CONFIG_SERVICE_PASSWORD
    restart: on-failure
    build:
      context: ticket-service
      dockerfile: Dockerfile
    ports:
      - "8585:8585"
    depends_on:
      - mysql
      - registry-server
      - config-server
      - keycloak
      - gateway-service

  mysql:
    container_name: microservicesdemo_mysql
    image: mysql:8.0.27
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
    volumes:
      - ./docs/ddl:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"

  rabbitmq:
    image: rabbitmq:management-alpine
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    ports:
      - "5672:5672"
      - "15672:15672"

  keycloak:
    container_name: microservicesdemo_keycloak
    image: jboss/keycloak:16.0.0
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: password
    ports:
      - "8080:8080"

volumes:
  mysql_data:
    name: microservicesdemo_mysql_data

networks:
  default:
    name: microservicesdemo_network